<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css" title="style" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
</head>
 <!-- HEADER -->
 <header class="main-header">
    <div class="main-header-top-bar">
        <div>
        <img src="/img/logo-mercado-liebre.svg" class="logo"></div>
        <div class="contenedor-busqueda">
        <input class="busqueda" type="Buscar" placeholder="Busca productos, Marcas">
      <button class="boton" type="submit"><i class="fas fa-search fa-1x"></i></button></div>
      <br>
        <h4 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h4>
    </div>
    <a href="#" class="hamburguer-buttom"><i class="fas fa-bars"></i></a>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <a href="register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>

</header>
<img class="banner" src="/img/img-home-banner.jpg"> </img> 
<main class="main">
    <br>
     <!-- Main -->
    <h2 class="titulos-main">Basado en tu última visita</h2><br>
    <section class="section">
             <article class="caja-producto">
             <img src="/img/img-cafetera-moulinex.jpg" width="250"><br>
             <div class="promocion">
             <p class="truck"><i class="fas fa-truck"></i></p></div>
             <div class="article-price-discount-container">
                 <p class="info-producto1">$6.780</p>
                     <p class="info-producto2">40% off</p></div>
             <p class="info-producto0">Máquina de Café Roja de Moulinex</p> 
             </article>
             <article class="caja-producto">
                 <img src="/img/img-samsung-galaxy-s10.jpg" width="250"><br>
                 <div class="promocion">
                    <p class="truck"><i class="fas fa-truck"></i></p></div>
                  <div class="article-price-discount-container">
                 <p class="info-producto1">$86.780</p> <p class="info-producto2">10% off</p></div>
                 <p class="info-producto0">Samsung Galaxy S10</p>
                </article>
                    
                
                 <article class="caja-producto">
                     <img src="/img/img-macbook-pro-2019.jpg" width="250"><br>
                     <div class="promocion">
                        <p class="truck"><i class="fas fa-truck"></i></p></div>
                     <div class="article-price-discount-container">
                        <p class="info-producto1">$230.000</p>
                         <p class="info-producto2">20% off</p></div>
                        <p class="info-producto0">MacBook Pro 2019</p>
                     
                    </article>

                     <article class="caja-producto">
                         <img src="/img/img-tv-samsung-smart.jpg" width="250"><br>
                         <div class="promocion">
                            <p class="truck"><i class="fas fa-truck"></i></p></div>
                         <div class="article-price-discount-container">
                         <p class="info-producto1">$43.000</p>
                             <p class="info-producto2">30% off</p></div>
                             <p class="info-producto0">TV Samsung Smart</p> 
                         
                         </article></section>
 </section>
  <!-- FOOTER -->
 <div class="footer">
 <div bgcolor=#ebebeb><div class="iconosfooter"><i class="fas fa-credit-card"></i></div><br><strong class="titulos-footer">
         Pagá con tarjeta o efectivo</strong> <br>
     <p class="parrafos-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p><br>
     </strong>
 </div>
     <div>
     <div class="iconosfooter"><i class="fas fa-gift"></i></div>
     <br><strong class="titulos-footer">
         Envío gratis desde $ 2.500</strong><br>
     <p class="parrafos-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p><br>
     <br></div>
     <div>
     <div class="iconosfooter"><i class="fas fa-user-shield"></i></div><br><strong class="titulos-footer">
         Seguridad, de principio a fin</strong><br>
     <p class="parrafos-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p><br>
     <br></div></section>
</main>
   <footer class="seccion-final">
     
     <p class="parrafos-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

 </footer>
</body>

</html>