<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="register.css" title="style" />
    <link rel="stylesheet" href="css/register.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
</head>
 <!-- HEADER -->
 <header class="main-header">
    <div class="main-header-top-bar">
        <div>
          <a href="index.html"><img src="/img/logo-mercado-liebre.svg" class="logo"></a></div>
        <div class="contenedor-busqueda">
        <input class="busqueda" type="Buscar" placeholder="Busca productos, Marcas">
      <button class="boton" type="submit"><i class="fas fa-search fa-1x"></i></button></div>
      <br>
        <h4 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h4>
    </div>
    <a href="#" class="hamburguer-buttom"><i class="fas fa-bars"></i></a>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>

</header>
<img class="banner" src="/img/img-home-banner.jpg"> </img> 

<main>
    <form action="login.html">
      <div class="ingreso">
        <input class="ingreso-texto" type="text" name=""
          id="" placeholder="Nombre y Apellido">
        <input class="ingreso-texto" type="text" name="" id=""
          placeholder="Nombre de usuario">
        <input class="ingreso-texto" type="text" name="" id=""
          placeholder="E-mail">
          <h4 style="color: #666;">Fecha de nacimiento</h4>
        <input class="ingreso-texto" type="text" name="" id=""
          placeholder="dd/mm/aaaa">
        <input class="ingreso-texto" type="text" name="" id=""
          placeholder="Domicilio">
      </div>
      <hr>
      <br>
      <h4 class="comprador">Perfil de comprador</h4>
      <div class="ingreso">
      <div class="perfil">
        <label class="perfil" for="Comprador">Comprador 
          <input type="radio" name="perfil" id="" title="Comprador">
        </label>
        <label class="perfil" for="Vendedor">Vendedor 
          <input type="radio" name="perfil" id="" title="Vendedor">
        </label>
        </div>
      </div>

      <hr>
      <br>
      <h4 class="comprador">Intereses</h4>
      <br>
      <div class="interes">
        <input class="ingreso" type="checkbox" name="" id=""><label for="Electro">Electro</label>
        <input class="ingreso" type="checkbox" name="" id=""><label for="Electro">Moda</label>
        <input class="ingreso" type="checkbox" name="" id=""><label for="Electro">Hogar</label>
        <input class="ingreso" type="checkbox" name="" id=""><label for="Electro">Juguetería</label>
        <input class="ingreso" type="checkbox" name="" id=""><label for="Electro">Vida sana</label>
      </div>
      <div>
          <br>
        <h4 class="comprador">Elegí tu foto de usuario</h4>
        <br>
        <div class="subida">
            <br>
        <input type="file" name="" id=""><label for=""></label>
        <br>
        <input class="ingreso-texto" type="password" name="" id="" placeholder="Elegí tu contraseña">
        <input class="ingreso-texto" type="password" name="" id="" placeholder="Confirma tu contraseña">
        <br>
        <div class="botones"><button class="boton-enviar" type="submit">Enviar</button>  
            <br>    
        <button class="boton-enviar" type="reset">Borrar</button></div>
      </div>

    </form>
   </main>
   <!-- FOOTER -->
      <footer class="seccion-final">
        
        <p class="parrafos-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   
    </footer>
   </body>
   
   </html>